@import url(./general/normalize.css);
@import url(./general/var.css);
@import url(./general/universal.css);
@import url(./blocks/body/body.css);
@import url(./blocks/wrapper/wrapper.css);
@import url(./blocks/title/title.css);
@import url(./blocks/weather-characteristics/weather-characteristics.css);
@import url(./blocks/weather-characteristics/__input/weather-characteristics__input.css);
@import url(./blocks/weather-characteristics/__temperature/weather-characteristics__temperature.css);
@import url(./blocks/weather-characteristics/__humidity/weather-characteristics__humidity.css);
@import url(./blocks/weather-characteristics/__checkbox/weather-characteristics__checkbox.css);
@import url(./blocks/result/result.css);
@import url(./blocks/result/__recommendations-list/result__recommendations-list.css);
@import url(./blocks/result/__recommendations-list/__mark/recommendations-list__mark.css);
@import url(./blocks/result/__recommendations-list/__clothes/recommendations-list__clothes.css);
@import url(./blocks/result/__recommendations-list/__shoes/recommendations-list__shoes.css);
@import url(./blocks/result/__recommendations-list/__accessories/recommendations-lists__accessories.css);
@import url(./blocks/result/__recommendations-list/__img/recommendations-list__img.css)


/* body {
  background: var(--color-body);
  display: flex;
  justify-content: center;
  padding-top: 169px;
  overflow: hidden;
}

.wrapper {
  border-radius: 8px;
  width: 750px;
  height: 686px;
  background: var(--color-background);
}

.title {
  font-weight: 600;
  font-size: 32px;
  margin: 37px 191px 70px 191px;
  transform: scaleX(1.06);
}

.weather-characteristics {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  width: 622px;
  height: 33px;
  margin-left: 64px;
  margin-right: 64px;
  margin-bottom: 42px;
}

.weather-characteristics__input {
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 16px;
  color: var(--color-green);
}

.weather-characteristics__temperature {
  width: 60px;
  height: 33px;
  margin-left: 14px;
  margin-right: 11px;
  border: 1px solid rgba(100, 169, 54, 0.6);
  border-radius: 7px;
  font-weight: 500;
  font-size: 14px;
  outline: 1px solid rgba(100, 169, 54, 0.6);
  padding: 8px 21px;
}

.weather-characteristics__humidity {
  border: 1px solid rgba(100, 169, 54, 0.6);
  border-radius: 7px;
  width: 112px;
  height: 33px;
  margin-left: 8px;
  font-weight: 500;
  font-size: 14px;
}

.weather-characteristics__checkbox {
  width: 15px;
  height: 15px;
  margin-left: 8px;
  vertical-align: middle;
  outline: 1px solid rgba(100, 169, 54, 0.6);
  appearance: none;
}

.result {
  width: 420px;
  height: 291px;
  display: flex;
  justify-content: space-between;
  margin-right: 165px;
  margin-bottom: 97px;
  margin-left: 165px;
  margin-top: 119px;
}

.result__recommendations-list {
  width: 211px;
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  flex-direction: column;
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 11px;
  line-height: 150%;
  color: var(--color-green);
}

.recommendations-list__clothes {
  width: 211px;
  height: 34px;
  margin: 42px 15px 40px 0px;
}

.recommendations-list__shoes {
  width: 205px;
  height: 34px;
  margin-right: 21px;
  margin-bottom: 40px;
  margin-left: 0px;
}

.recommendations-lists__accessories {
  width: 204px;
  height: 34px;
  margin-right: 22px;
  margin-bottom: 67px;
  margin-left: 0px;
}

.recommendations-list__mark {
  font-weight: 800;
}

.recommendations-list__img {
  width: 194px;
  height: 291px;
  border-radius: 15px;
  margin: 0;
  padding: 0;
} */
