@import url(./general/normalize.css);
@import url(./general/var.css);
@import url(./general/universal.css);
@import url(./blocks/body/body.css);
@import url(./blocks/wrapper/wrapper.css);
@import url(./blocks/title/title.css);
@import url(./blocks/weather-characteristics/weather-characteristics.css);
@import url(./blocks/weather-characteristics/__filter/weather-characteristics__filter.css);
@import url(./blocks/weather-characteristics/__filter/_type_temperature/weather-characteristics__filter_type_temperature.css);
@import url(./blocks/weather-characteristics/__filter/_type_humidity/weather-characteristics__filter_type_humidity.css);
@import url(./blocks/weather-characteristics/__filter/_type_fallout/weather-characteristics__filter_type_fallout.css);
@import url(./blocks/weather-characteristics/__temperature/weather-characteristics__temperature.css);
@import url(./blocks/weather-characteristics/__humidity/weather-characteristics__humidity.css);
@import url(./blocks/weather-characteristics/__checkbox/weather-characteristics__checkbox.css);
@import url(./blocks/result/result.css);
@import url(./blocks/recommendations-list/recommendations-list.css);
@import url(./blocks/recommendations-list/__heading/recommendations-list__heading.css);
@import url(./blocks/recommendations-list/__img/recommendations-list__img.css);
