.custom-select__option {
  padding: 0;
  margin: 0;
  text-align: center;
  cursor: pointer;
  font-weight: 500;
  font-size: 14px;
  color: var(--color-green);
  z-index: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 110px;
  height: 26px;
  gap: 6px;
}

.custom-select__option:hover {
  background-color: var(--color-custom-select-background);
}
