.result__recommendations-list {
  width: 211px;
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  flex-direction: column;
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 11px;
  line-height: 150%;
  color: var(--color-green);
}