.task-list__star{
 background-image: url(../../../../img/star.svg); 
    background-color: transparent; 
  border: none;
  padding: 0;
  cursor: pointer;
  display: inline-block; 
  width: 20px;         
  height: 20px;         
  background-size: contain; 
  background-repeat: no-repeat;
  background-position: center;
  line-height: 0;
  outline: none;
  background-repeat: no-repeat;
}