.task-list__icon-button {
  background: none;      
  border: none;           
  padding: 0;             
  cursor: pointer;       
  display: inline-flex;   
  align-items: center;
  justify-content: center;
  line-height: 0;         
  outline: none;       
  }