.task-search__input {
  width: 100%;
  padding: 12px;
  padding-left: 32px; 
  border: 1px solid #e2e8f0;
  border-radius: 4px;
  font-size: 16px;
}

.task-search__input:hover {
  border-color: #319795;
}