* {
  box-sizing: border-box;
  color: var(--color-green);
  font-family: var(--font-family);
}

body {
  background: var(--color-body);
  display: flex;
  justify-content: center;
  padding-top: 169px;
}
