.custom-select {
  border: 1px solid var(--color-custom-select);
  border-radius: 7px;
  width: 112px;
  height: 33px;
  margin-left: 5px;
  font-weight: 500;
  font-size: 14px;
  cursor: pointer;
  padding: 7px 28px 9px 26px;
  background-color: var(--color-background);
  text-align: center;
}

.custom-select::before {
  content: "";
  background-image: url(/img/down-arrow.svg);
  fill: var(--color-green);
  position: absolute;
  top: 45%;
  width: 7px;
  height: 6px;
  right: 10px;
}
