.weather-characteristics__checkbox {
  width: 15px;
  height: 15px;
  margin-left: 4px;
  vertical-align: middle;
  border: 1px solid var(--color-border);
  appearance: none;
  cursor: pointer;
}

.weather-characteristics__checkbox:checked {
  background-image: url(/img/tict.svg);
  background-repeat: no-repeat;
}
