.status-buttons__button {
  border: none;
  background: none;
  padding: 8px 16px;
  width: 143px;
  height: 40px;
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  text-align: center;
  color: #1a202c;
  cursor: pointer;
}

.status-buttons__button:focus {
  border: none;
  border-radius: 9999px;
  background: #319795;
  color: #fff;
  font-weight: 600;
  font-size: 16px;
  line-height: 150%;
  text-align: center;
  cursor: pointer;
}