.weather-characteristics__temperature {
  width: 60px;
  height: 33px;
  margin-left: 14px;
  margin-right: 11px;
  border: 1px solid rgba(100, 169, 54, 0.6);
  border-radius: 7px;
  font-weight: 500;
  font-size: 14px;
  text-align: center;
  outline: none;
}
