.recommendations--lists_list {
 max-width: 211px;
  height: 34px;
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 11px;
  line-height: 150%;
  color: var(--color-green);
  margin-bottom: 40px;
  margin-left: 0px;
  margin-right: 15px;
}
