:root {
  --font-family: "Inter", sans-serif;
  --color-green: #125300;
  --color-body: #b3b9af;
  --color-background: #ffffff;
  --color-border: rgba(100, 169, 54, 0.6);
  --color-custom-select: #a4d277;
  --color-custom-select-background: rgba(100, 169, 54, 0.2);
}
