@import url(./general/normalize.css);
@import url(./general/var.css);
@import url(./general/universal.css);
@import url(./blocks/body/body.css);
@import url(./blocks/custom-select/custom-select.css);
@import url(./blocks/custom-select/__option/custom-select__option.css);
@import url(./blocks/custom-select/__option/_last/custom-select__option_last.css);
@import url(./blocks/custom-select/__options/custom-select__options.css);
@import url(./blocks/custom-select/__options/_visible/custom-select__options_visible.css);
@import url(./blocks/custom-select/_opened/custom-select_opened.css);
@import url(./blocks/recommendations-list/recommendations-list.css);
@import url(./blocks/recommendations-list/__heading/recommendations-list__heading.css);
@import url(./blocks/recommendations-list/__img/recommendations-list__img.css);
@import url(./blocks/result/result.css);
@import url(./blocks/title/title.css);
@import url(./blocks/weather-characteristics/weather-characteristics.css);
@import url(./blocks/weather-characteristics/__temperature/weather-characteristics__temperature.css);
@import url(./blocks/weather-characteristics/__filter/weather-characteristics__filter.css);
@import url(./blocks/weather-characteristics/__filter/_type_fallout/weather-characteristics__filter_type_fallout.css);
@import url(./blocks/weather-characteristics/__filter/_type_humidity/weather-characteristics__filter_type_humidity.css);
@import url(./blocks/weather-characteristics/__filter/_type_temperature/weather-characteristics__filter_type_temperature.css);
@import url(./blocks/wrapper/wrapper.css);
@import url(./blocks/custom-checkbox/custom-checkbox.css);
@import url(./blocks/error/error.css);
@import url(./blocks/error/_visible/error_visible.css);
@import url(./blocks/result/_hidden/result_hidden.css);
@import url(./blocks/error/__picture/error__picture.css);
@import url(./blocks/error/__wrapper/error__wrapper.css);
@import url(./blocks/error/__text/error__text.css);
@import url(./blocks/loading/loading.css);
@import url(./blocks/loading/__visible/loading__visible.css);
@import url(./blocks/loading/__spinner/loading__spinner.css);
