.weather-characteristics {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  width: 622px;
  height: 33px;
  margin-bottom: 42px;
}

.weather-characteristics__input {
  flex-shrink: 0;
  max-width: 40%;
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  display: block;
  font-weight: 600;
  font-size: 16px;
}

.weather-characteristics--temperature {
  border: 1px solid rgba(100, 169, 54, 0.6);
  border-radius: 7px;
  width: 60px;
  height: 33px;
  margin-left: 14px;
  margin-right: 11px;

  font-weight: 500;
  font-size: 14px;

  outline: 1px solid rgba(100, 169, 54, 0.6);
}

.wrapper__weather-characteristics--humidity {
  border: 1px solid rgba(100, 169, 54, 0.6);
  border-radius: 7px;
  width: 112px;
  height: 33px;
  margin-left: 8px;
  font-weight: 500;
  font-size: 14px;
}

.weather-characteristics--checkbox {
  border: 1px solid rgba(100, 169, 54, 0.6);
  width: 15px;
  height: 15px;
  margin-left: 8px;
}
